.square{
    width: 200px;
    height: 200px;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.red{
    background-color: rgb(223, 76, 76);
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: rgb(112, 112, 235);
}

.green{
    background-color: green;
}