body{
    display: grid;
    grid-template-areas: 
        "header header header header header"
        "nav nav nav nav nav"
        "aside section section section section"
        "footer footer footer footer footer"
        ;
}

header{
    grid-area: header;
    background-color: blue;
    color: white;
    height: 100px;
}

nav{
    grid-area: nav;
    background-color: pink;
    height: 35px;
}

aside{
    grid-area: aside;
    background-color: green;
    color: white;
    height: 200px;
}

section{
    grid-area: section;
    background-color: lightgray;
    min-height: 500px;
}

footer{
    grid-area: footer;
    background-color: black;
    color: white;
    height: 100px;
}