.grid-element{
    border: 1px solid red;
    background-color: thistle;
}

.grid-container-gtc{
    display: grid;
    grid-template-columns: 100px 300px 100px;
}

.grid-container-gtr{
    display: grid;
    grid-template-rows: 100px 300px 100px;
}

.grid-container-gtrc{
    display: grid;
    grid-template-rows: 100px 300px 100px;
    grid-template-columns: 100px 300px 100px;
}

.grid-container-fractions{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;  
}

.grid-container-fractions-px{
    display: grid;
    grid-template-columns: 1fr 800px 3fr;  
}

.grid-container-repeat{
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
    /*grid-template-columns: repeat(12, 1fr);*/

    /*grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;*/
    grid-template-columns: 2fr repeat(4, 1fr) 2fr;
}

.grid-container-gap{
    display: grid;
    grid-template-rows: 100px 300px 100px;
    grid-template-columns: 100px 300px 100px;
    /*
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    */

    /*
    grid-gap: 20px 50px;
    */

    gap: 20px 50px;
}


/***********************************************************/

.page-container{
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 100px 30px 200px auto 100px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "a-left section a-right"
    ". section ."
    "footer footer footer"
    ;
}

header{
    background-color: aquamarine;
    grid-area: header;
}

nav{
    background-color: blueviolet;
    grid-area: nav;
}

aside#a-left{
    background-color: chartreuse;
    grid-area: a-left;
}

aside#a-right{
    background-color: cornflowerblue;
    grid-area: a-right;
}

section{
    background-color: darkgrey;
    grid-area: section;
}

footer{
    background-color: black;
    color: white;
    grid-area: footer;
}